.header {
  background-color: var(--clr-codGray);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  color: #ffff;
  padding: 24.4rem 0 14rem;
  &__logo {
    width: 8.2rem;
    height: 3.2rem;
  }
}
